@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@400;600&family=Vollkorn:wght@500&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0px;
    padding: 0px;
}
.header{
    display: flex;
    align-items: center;
    font-family: 'Lobster', sans-serif;
    font-size: 2.5rem;
    height: 100px;
    color: #191414;
    background-color: #F9FBE7;
}
#nameAndBrief{
    padding: 0px 0px 0px 20px ;
}
.about{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    height: 500px;
    background-color: #ECCDB4;
}
.imgDiv{
    height: 320px;
    border: 2px solid #191414;
    border-radius: 10px;
    width: 270px;
    position: relative;
    left: -50px;
    background-image: url(assets/IMG_20230126_231112.jpg);
    background-size: cover;
    box-shadow: 5px 5px grey;
}
.infoDiv{
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
}
.infoDiv p{
    color: #3a2a2a;
    margin: 15px 0px 15px 15px;
    font-weight: bold;
    text-shadow: 0px 2px #edce1e;
}
.infoDiv span{
    color: orangered;
}
#hi{
    font-size: 3.5rem;
}
#myName{
    font-size: 3rem;
}
.skillsAndEducation{
    background-color: #F9FBE7;
    color: #191414;
}
.skillsAndEducation h1{
    padding: 30px 0px 20px 20px;
    width: 500px;
}

/* SKILL SECTION */
.skills{
    display: flex;
    gap: 30px;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-left: 15px;
}
.skill{
    position: sticky;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 3px solid #3a2a2a;
    height: 200px;
    width: 200px;
    margin: 15px 0px;
    transition: ease-in 0.3s;
    border-radius: 10px;
}
.skill:hover{
    border: 3px solid red;
    background-color: #FEA1A1;
    color: red;
    box-shadow: 2px 2px red;
    font-weight: 800;
}
/* Education Section */
.educationsection{
    background-color: #f5f7e0;
}
.education{
    display: flex;
    justify-content: space-around;
    padding-left: 15px;
}
.edu{
    text-align: center;
    position: sticky;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 3px solid #191414;
    height: 250px;
    width: 250px;
    margin: 15px 0px;
    transition: ease-in 0.3s;
    border-radius: 10px;
}
.edu:hover{
    border: 3px solid #4b3232;
    background-color: #c5b8b8;
    color: #fff;
    box-shadow: 3px 3px #4b3232;
    font-weight: 800;
}
.edu p{
    letter-spacing: 2px;
    font-family: 'Vollkorn', serif;
    margin-top: 8px;
}

/* CERTIFICATION SECTION */
.certification{
    display: flex;
    justify-content: space-around;
    padding-left: 15px;
}
.certificate{
    text-align: center;
    position: sticky;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 3px solid #191414;
    height: 250px;
    width: 250px;
    margin: 15px 0px;
    transition: ease-in 0.3s;
    border-radius: 10px;
}
.certificate:hover{
    border: 3px solid #4b3232;
    background-color: #c5b8b8;
    color: #fff;
    box-shadow: 3px 3px #4b3232;
    font-weight: 800;
}
.certificate p{
    letter-spacing: 2px;
    font-family: 'Vollkorn', serif;
    margin-top: 10px;
}
/* EXPERIENCE SECTION */
.myExpereience{
    padding:15px 0px 30px 15px;
    background-color: #F9FBE7;
}
.Experience{
    display: flex;
    justify-content: space-around;
    padding-left: 15px;
}
.exp{
    text-align: center;
    position: sticky;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 3px solid #191414;
    height: 250px;
    width: 300px;
    margin: 15px 0px;
    transition: ease-in 0.3s;
    border-radius: 10px;
}
.exp:hover{
    border: 3px solid red;
    background-color: #f9c3c3;
    color: #fff;
    box-shadow: 3px 3px orangered;
    font-weight: 800;
}
.exp p{
    letter-spacing: 2px;
    font-family: 'Vollkorn', serif;
    margin-top: 10px;
}

/* PROJECT SECTION */
.projects{
    background-color: #f5f7e0;
    padding: 15px;
}
.projects h2{
    font-family: 'Poppins', sans-serif;
    padding: 0px 0px 30px 0px;
    font-size: 1.8rem;
}
.pro1{
    display: flex;
    justify-content: space-around;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    background-color: #F9FBE7;
    border: 3px solid #3a2a2a;
    height: 380px;
    margin: 30px 80px;
    border-radius: 10px;
    transition: ease-in .5s;
}
.pro2{
    display: flex;
    justify-content: space-around;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    border: 3px solid #3a2a2a;
    background-color: #F9FBE7;
    border-radius: 10px;
    height: 380px;
    margin: 30px 80px;
    transition: ease-in .5s;
}
.projects img{
    border-radius: 10px;
    box-shadow: 5px 5px #4b3232;
}
.pro1:hover{
    background-color: #f7c6c6;
    box-shadow: 5px 5px red;
    font-weight: bold;
    color: rgb(101, 28, 4);
}
.pro2:hover{
    background-color: #f7c6c6;
    box-shadow: 5px 5px red;
    font-weight: bold;
    color: rgb(101, 28, 4);
}
.paraNButtons{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.4rem;
}
.paraNButtons p{
   padding: 30px;
}
.buttons{
    padding: 40px 30px 0px 30px;
}
.buttons input {
  appearance: button;
  background-color: #000;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;  
}

.buttons input:focus {
  text-decoration: none;
}

.buttons input:hover {
  text-decoration: none;
}

.buttons input:active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

.buttons input:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .buttons input {
    padding: 12px 50px;
  }
}